/* Fonts */

@font-face {
    font-family: 'HumansLight';
    src: url(/fonts/HumansLight.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(/fonts/OpenSans.ttf);
}


/* Variables */

$pink: #dc6c5a;
