@import 'variables';
@import 'mixins';
@import 'modals/modals';

@import 'blocks/main-form';
@import 'blocks/header';
@import 'blocks/team';
@import 'blocks/templates';
@import 'blocks/projects';
@import 'blocks/task';
@import 'blocks/tasks';



@import 'modals/new-template';


body {
    background: linear-gradient(to top right, #db695c, #f7ad37);

    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 50px;

    &.disable-hover {
        pointer-events: none;
    }
}

.site-title {
    position: absolute;
    top: 20vh;
    width: 100%;
    text-align: center;
    font: 25vw HumansLight;
    color: rgba(255,255,255,.2);
    text-transform: uppercase;
    margin: 0 auto;
    user-select: none;
}

.main-container {
    width: 900px;
    max-width: calc(100% - 40px);
    margin: auto;

    box-shadow: 0px 0px 7px rgba(0,0,0,.35);
}
