.projects {
    box-sizing: border-box;
    padding: 10px;
    background: #fff;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0 0 7px 7px;
    min-height: 520px;

    a {
        text-decoration: none;
    }

    @media (max-width: 960px) {
        justify-content: space-around;
    }
}

.project {
    width: 420px;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.35);
    background: #f0f0f0;
    font: 14px OpenSans;
    margin: 10px;
    border-radius: 7px;
    overflow: hidden;

    &-page-header {
        background: #fff;
        min-height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 0;
        z-index: 1;
        font-weight: lighter;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            height: 1px;
            margin: 0 -20px;
            background: linear-gradient(to right, #db695c, #f7ad37);
        }

        a {
            color: inherit;
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }
        }

        img {
            transform: rotate(90deg);
        }
    }

    &-header {
        background: #fff;
        min-height: 100px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 0 0 7px 7px;
        z-index: 1;
        font-weight: 300;
        min-height: 220px;
    }

    &-template-title {
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        font-family: 'OpenSans';
    }

    &-title {
        margin: 6px 0;
        font-family: 'OpenSans';
        font-size: 34px;
        font-weight: normal;
    }

    &-name {
        text-decoration: underline;
    }

    &-description {
        font: 12px OpenSans;
        text-align: right;
        margin-top: 20px;
    }

    &-footer {
        padding: 10px 20px;
        font: 16px OpenSans;
        font-weight: bold;
        border-radius:  0 0 7px 7px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 60px;
    }

    &-archive {
        text-transform: uppercase;
        text-decoration: none;
        color: #a7a7a7;
        margin: 0 10px;
    }

    &-open {
        text-transform: uppercase;
        text-decoration: none;
        color: $pink;
        margin: 0 10px;
    }
}

.project-add {
    min-height: 300px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    &__text {
        margin-top: 30px;
        color: $pink;
        border-bottom: 1px dashed $pink;
        text-transform: uppercase;
    }
}

.project-form {
    background-color: #fff;
    padding: 10px 0;

    &-user {
        width: 600px;
        margin: 10px auto;
    }

    input,
    select,
    textarea {
        display: block;
        width: 600px;
        margin: 0 auto;
        border-radius: 4px;
        outline: none;
        border: 1px solid #bbb;
        padding: 4px 2px;
    }

    textarea {
        resize: none;
    }

    &__submit {
        display: block;
        outline: none;
        border: none;
        margin: 20px auto 0;
        width: 120px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
    }
}

.input-group {
    width: 600px;
    margin: 10px auto;
}
