.tasks {
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    width: 100%;

    .task {
        max-width: 100%;
        width: 100%;

        &-footer {
            justify-content: space-around;
        }
    }
}

.task {
    max-width: 100%;

    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0,0,0,.35);

    background: #f0f0f0;

    font: 14px OpenSans;

    &-header {
        background: #fff;
        min-height: 100px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 0 0 7px 7px;
        z-index: 1;
        font-weight: 300;
    }

    &-title {
        margin-top: 0;
        text-transform: uppercase;
    }
    &-name {
        text-decoration: underline;
    }

    &-description {
        font: 12px OpenSans;

    }

    &-footer {
        padding: 10px 20px;
        font: 16px OpenSans;
        font-weight: bold;
        border-radius:  0 0 7px 7px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


}

.task-add {
    min-height: 140px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    cursor: pointer;

    &__text {
        margin-top: 30px;
        color: $pink;
        border-bottom: 1px dashed $pink;
        text-transform: uppercase;
    }
}
